*{
    font-family: 'Times New Roman', Times, serif;
   
}


nav{

display: flex;
justify-content: space-between;
background-color: rgb(168, 168, 225);
width: auto;
height: 50px;
align-items: center;

}

nav .option{

    display: inline-block;

}
nav a{
    padding: 20px;

text-decoration: none;

}
nav a:hover{

background-color: blue;
color: azure;
border-radius: 20px;
}
nav a{

margin-left: 10px;
}
.logos img {
    width: 75px;
    height: 100px;
    border-radius: 50%; 
}
nav{

    padding: 20px;



}
.principale div {
    flex: 1;
    padding: 20px;
    
}

.principale h1 {
    font-size: 2.5em;
    color: #360d94;
    margin-bottom: 15px;
}

.principale p {
    font-size: 1.3em;
    color: #340ba3;
    margin-bottom: 20px;
}

/* Style the button */
input[type="button"] {
    padding: 12px 25px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.principale{


display: flex;
justify-content: space-around;
padding: 30px;

}
.filiers{
display: inline-block;
justify-content: center;
align-items: start;



}
.f1{
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding: 20px;
}

.f1 img {
    width: 400px;
    height: 250px;
    margin-right: 25px;
}

/* CSS.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.inscription {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
}

td {
    padding: 10px 0;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #0056b3;
}
